<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
<br>
<br>

  <div class = "row index_row">

    <div class = "small-6  medium-8 small-centered large-11 column">


      <ul class = "small-block-grid-1 medium-block-grid-3 large-block-grid-5 panelz" >
        <% @characters.each do |character| %>
            <li>
              <div class="panel">
                  <div class="index-name">
                    <h3>
                      <%= character.name %>
                    </h3>
                  </div>

                  <div style="display:flex;justify-content:center;align-items:center;">
                    <div><%= link_to (image_tag("character_icons/#{character.name}-Icon.png")), character_path(character), :class =>"hvr-bounce-in" %></div>
                  </div>
              </div>
            </li>
        <% end %>
      </ul>

      <% if current_user %>
        <% if current_user.admin %>
          <%= link_to "Add Character (Admins Only)", new_character_path,
           class: "button success hvr-bounce-in" %>
        <% end %>
      <% end %>
    </div>
  </div>
