<!DOCTYPE html>
<body class="the-show-page">
  (<%= image_tag "character_backgrounds/#{@character.name}-Left.png" %>)

    <br>

  <div style="display:flex;justify-content:center;align-items:center;">
    <div class="panel">
      <h1> <%=@character.name %> </h1>
    </div>
  </div>
</body>
