  //specific character backgrounds partial
  .Cassie-Cage {
    background-image: image-url("character_backgrounds/Cassie-Cage-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .D-Vorah {
    background-image: image-url("character_backgrounds/D-Vorah-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Ermac {
    background-image: image-url("character_backgrounds/Ermac-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Erron-Black {
    background-image: image-url("character_backgrounds/Erron-Black-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Ferra-Torr {
    background-image: image-url("character_backgrounds/Ferra-Torr-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Goro {
    background-image: image-url("character_backgrounds/Goro-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Jacqui-Briggs {
    background-image: image-url("character_backgrounds/Jacqui-Briggs-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Jax {
    background-image: image-url("character_backgrounds/Jax-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Johnny-Cage {
    background-image: image-url("character_backgrounds/Johnny-Cage-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Kano {
    background-image: image-url("character_backgrounds/Kano-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Kenshi {
    background-image: image-url("character_backgrounds/Kenshi-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Kitana{
    background-image: image-url("character_backgrounds/Kitana-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Kotal-Kahn {
    background-image: image-url("character_backgrounds/Kotal-Kahn-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Kung-Jin {
    background-image: image-url("character_backgrounds/Kung-Jin-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Kung-Lao {
    background-image: image-url("character_backgrounds/Kung-Lao-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Liu-Kang {
    background-image: image-url("character_backgrounds/Liu-Kang-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Mileena {
    background-image: image-url("character_backgrounds/Mileena-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Quan-Chi {
    background-image: image-url("character_backgrounds/Quan-Chi-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Raiden {
    background-image: image-url("character_backgrounds/Raiden-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Reptile {
    background-image: image-url("character_backgrounds/Reptile-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Scorpion {
    background-image: image-url("character_backgrounds/Scorpion-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Shinnok {
    background-image: image-url("character_backgrounds/Shinnok-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Sonya-Blade {
    background-image: image-url("character_backgrounds/Sonya-Blade-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Subzero {
    background-image: image-url("character_backgrounds/Subzero-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }

  .Takeda {
    background-image: image-url("character_backgrounds/Takeda-Left.png");
    background-attachment: fixed;
    background-image: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
  }
